.*.swp
.*.swo
*.pyo 
__pycache__
tmp
build
debug.txt
kitti
map.json
config.pyc 
thirdparty/g2opy
thirdparty/pangolin 
matches.txt 
map.png
.vscode 
images/tiefenbrunnen1
images/tiefenbrunnen2
videos/webcam
videos/tiefenbrunnen1
videos/tiefenbrunnen2

kf_info.log 
local_mapping.log 
tum_association_matches.txt 

thirdparty/protoc 